* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    flex-basis: 10%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 202, 202);
}
main {
    flex-grow: 1;
    border: 1px solid;
    display: flex;
}
footer {
    flex-basis: 20%;
    border: 1px solid;
    display: flex;
    background-color: rgb(202, 202, 202);
    align-items: center;
    justify-content: space-around;
}
.footer_box {
    padding: 20px;
    background-color: white;
}
aside {
    background-color: rgb(174, 174, 135);
    flex-grow: 1;
    text-align: center;
    padding-top: 10px;
}
.content {
    flex-basis: 70%;
    background-color: beige;
    display: flex;
    flex-direction: column;
}
.boxglobal {
    padding-top: 10px;
    text-align: center;
    flex-basis: 40%;
}
.box_first {
    flex-basis: 30%;
    background-color: beige;
    display: flex;
    margin: 10px;
    gap: 20px;
}
.box_second {
    flex-basis: 30%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.upbox1 {
    flex-basis: 49%;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-align: center;
}